.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: var(--accent-block-300) !important;
  padding: 1.25rem 1rem;

  &__logo {
    text-align: right;
  }

  &__menu {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    img {
      padding: 0 .5rem;
      align-self: center;
    }
  }

  .nav__link {
    ul {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: .5rem 0;

      .menu__item {
        padding: 0 1.5rem;

        a {
          font-family: 'Poppins', sans-serif;
          color: #000;
          text-decoration: none;
          font-weight: 400;
        }
      }
    }
  }

  .close__bar {
    display: none;
  }

  .menu__bar {
    display: none;
  }
}

@media (max-width: 788px) {
  .nav {
    .menu__bar {
      display: block;
    }

    &__link {
      display: flex;
      flex-direction: column;

      ul {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .menu__item {
          margin: 48px;
          font-size: 48px;
        }
      }
    }

    .close__bar {
      right: -100%;
      display: none;
      position: fixed;
      right: 8%;
      top: 9%;
      cursor: pointer;
      z-index: 100;
    }

    .nav__link {
      display: block;

      &.active {
        right: 0;
        transition: right 0.3s;

        ~ .close__bar {
          display: inline-block;
          transition: right 0.3s;
        }
      }
    }

    .nav__link {
      z-index: 100;
      background: var(--bg-color);
      position: fixed;
      top: 0;
      right: -100%;
      width: 100%;
      height: 100%;
      display: flex;
      align-items: center;
      text-align: center;
      justify-content: center;
      padding: 20px;
    }
  }
}
